@font-face {
  font-display: swap; 
  font-family: 'Raleway';    
  font-weight: 200;
  src: url('../fonts/raleway-v34-latin-200.woff2') format('woff2'); 
  }  
@font-face {
  font-display: swap; 
  font-family: 'Raleway';    
  font-weight: 300;
  src: url('../fonts/raleway-v34-latin-300.woff2') format('woff2'); 
  }  
@font-face {
  font-display: swap; 
  font-family: 'Raleway';    
  font-weight: 400;
  src: url('../fonts/raleway-v34-latin-regular.woff2') format('woff2'); 
  }  
@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-weight: 600;
  src: url('../fonts/raleway-v34-latin-600.woff2') format('woff2'); 
  }  
@font-face {
  font-display: swap; 
  font-family: 'Raleway';    
  font-weight: 700;
  src: url('../fonts/raleway-v34-latin-700.woff2') format('woff2'); 
  }

@media screen and (max-width: 280px) {
  .header {
    justify-content: center;
  }
}

@media (min-width: 480px) {
  img {      
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .header {     
    max-width: 100%;
    position: sticky;        
    display: flex;        
    justify-content: center;
    align-items: center;    
    }
 
  .logo {
    width: 32px;
    margin: 0 1em;
  }

  .navbar {    
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
  }

  /* .mobile-menu {
    display: none;
  } */

  .about {    
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;      
    margin-bottom: 3vh; /*3% of view port height*/
  }
    
  .photo {
    display: block;
    width: 25%;
  }

  .hero-p {
    max-width: 260px;
    margin: 0;
  }
  
  .connect-ul {   
    flex-direction: row;    
  }

  .proj-list {
    flex-direction: row;
  }
}


@media (min-width: 720px) {
  body {    
    font-size: 120%;
  }

  .about {                /**/
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  .hero {
    font-size: 120%;
  }

  .hero-p {
    max-width: 460px;
  }
}


/* @media (max-width: 480px) {
  .footer {
    height: auto;
  }
} */