html {
  box-sizing: border-box;   
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;  
  margin: 0;
  -webkit-font-smoothing: antialiased; /*font smoothing*/ 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

ul {
  padding: 0;  
  list-style-type: none;
}

h1, h2, h3, p {  /*word wrappin without hyphens (hyphens: auto;) */
  overflow-wrap: break-word;
}

h1, h2 {
  text-align: center;  
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {  
  color:white;
}

a:hover {  
  color: #00c800;  
}

.section {  
  padding: 0.5em;   
  text-align: center;    
}

/* Header */
.header {  
  background-color: #282828e6; /*0.9 - opacity*/   
  }

.hero {
  margin: 10vh auto;
  font-weight: 700;
  
}

.hero-name {
  margin: 0 10%;
  border: 2px solid green;
  /* -webkit-text-stroke: 2px #03fb0f; */
}
/* About */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 50%;
  height: auto;  
}

/*Experience*/
.exp-ul {
  display: flex;
  justify-content: center;   
  flex-wrap: wrap;
  align-content: center;
  gap: 1em;
  align-items: center; 
}


/* Skills */
.skills-ul {
  display: grid;  
  margin: 0 auto;
  padding: 0 10%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  grid-auto-rows: 4em;  
  justify-content: space-evenly;
  grid-gap: 0.5em;  
  justify-items: center;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.skills-ul img {  
  width: 32px;
}

 .skills-p {  
  font-size: 0.5em;
  font-style: italic;
}

/* Connect */
.connect-ul {
  margin: 0 auto;  
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;   
  align-items: center;
}

.connect-li {  
  flex-direction: column;  
}

.connect-ul img {
  width: 32px;
}


/*Messages*/
.form {
  margin: 0 10%;
  display:flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border-color: #00c800;
  width: 100%;
}

.form-label {
  display: block;
}

.form-field {
  margin-bottom: 1em;
}

.last {
  margin: 0;
}

.form-input {
  padding:0.5em 1em;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

.remark {
  font-style: italic;
  font-size: 0.75em;
  margin: 0 auto;
}

.submit {
  margin-top: 1em;
}