body {
    background: black;
    color: white;
    font-family: "Raleway", sans-serif;  /**/
}

li {
    list-style-type: none;
}

h1 {
  text-align: center;
  font-size:200% /**/
}

h2 {              /**/
  font-weight: 700;
  color:aliceblue;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {  
  color: rgb(0, 200, 0);
}

.section {
  padding: 10px;   /**/
  text-align: center;
}

.experience-li {   /**/
  display:block;
}

.connect-li {
  display:inline;
  padding:10px;
}
