html {
  scroll-behavior: smooth;
}

/* * {
  border: pink dotted 1px;
} */

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1288px;
  margin: auto;
  -webkit-font-smoothing: antialiased; /*font smoothing*/ 
}

li {
    list-style-type: none;
}

h1, h2, h3, p {  /*word wrappin without hyphens (hyphens: auto;) */
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
  font-size:200% /**/
}

h2 {              /**/
  font-weight: 700;
  color:aliceblue;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {  
  color: rgb(0, 200, 0);
}


ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  padding: 10px;  
  align-items: center; 
}

ul li {
  display: inline;  
}

.experience-li {
  display: block;
}

/*experience*/
.experience-table {
  padding: 0 15%;
  width: 100%;  
}

.experience-item {
  text-align: left;
  width: 80%;
  padding: 2%;  
}

.experience-date {
  align-content: flex-start;
  padding-top: 2%;
  width: 20%;  
}

.section {
  padding: 10px;   /**/
  text-align: center;
  max-width: 1288px;
}


#experience ul {
  flex-direction: column;
}

a img {
  width: 32px;
}

#connect ul {  
  gap: 64px;
  justify-content: center;
}

.connect-li {  
  display: inline;  
}