html {
  scroll-behavior: smooth;
}

/* * {
  border: pink dotted 1px;  
} */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;  
  margin: 0;
  -webkit-font-smoothing: antialiased; /*font smoothing*/ 
}

li {
  list-style-type: none;
}

h1, h2, h3, p {  /*word wrappin without hyphens (hyphens: auto;) */
  overflow-wrap: break-word;
}

h1, h2 {
  text-align: center;  
}


a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {  
  color: rgb(0, 200, 0);
}

.section {
  padding: 10px;   /**/
  text-align: center;  
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav {
  display: flex;
  justify-content: center;  
  align-items: center;  
  flex-direction: column;
}

.header-nav img {
  width: 32px;
}

.header-menu {
  display: flex;
  gap: 8px;  
  justify-content: center;   
  flex-direction: column;
}


/*experience*/
.experience-table {
  padding: 0 15%;
  width: 100%;  
}


.exp-ul {
  flex-direction: column;
}

.connect-ul {  
  gap: 64px;
  justify-content: center;
}

.connect-li {  
  display: inline;  
}

.connect-ul img {
  width: 32px;
}